{% load staticfiles %}
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mugdho's List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <nav class="blue lighten-1">
    <div class="container  nav-wrapper">
      <a href="/" class="brand-logo">Mugdho's List</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>

      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 style="text-align: center;">What do you want to search on Mugdho's List?</h1>
    <div class="row">

      <div class="col s4">
        <div class="center">
          <i class="large material-icons" style="color: red;">flash_on</i>
          <p>Fast Craigslist web scraper</p>
          <p class="light center">Scrape away right here with a beautiful GUI.</p>
        </div>
      </div>

      <div class="col s4">
        <div class="center">
          <i class="large material-icons" style="color: orange;">camera</i>
          <p>Filter your searches</p>
          <p class="light center">I built functionality to filter based on pricing.</p>
        </div>
      </div>

      <div class="col s4">
        <div class="center">
          <i class="large material-icons" style="color: rgb(50, 50, 226);">chrome_reader_mode</i>
          <p>A much easier front-end to Craigslist</p>
          <p class="light center">I built this with heart.</p>
        </div>
      </div>
    </div>
    <form action="{% url 'new_search' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="search" placeholder='Search for items'>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
      </button>
    </form>
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>